@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Home Section  */

nav {
    height: 18vh;
    padding: 0vw 14vw 0vw 14vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    height: 7.5vw;
}

nav .signin {
    min-width: 17vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5vw;
}

nav button {
    font-size: 1.2vw;
    height: 7vh;
    width: 6vw;
    padding: 0.7vw 1vw;
    color: white;
    background-color: red;
    border: none;
    border-radius: 0.4vw;
}

nav select {
    padding: 0.7vw 1.1vw;
    cursor: pointer;
    color: white;
    background-color: transparent;
}

.start {
    height: calc(100% - 18vh);
    width: 100%;
    /* background-color: pink; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 9vw 8vw 4vw 8vw;
}

.start h3 {
    text-align: center;
    width: 46vw;
    font-size: 4.5vw;
}

.start .starts {
    font-size: 1.3vw;
    letter-spacing: 0.05vw;
    font-weight: 700;
}

.start .ready {}

.start span {
    height: 8.6vh;
    width: 45vw;
    display: flex;
    justify-content: space-between;
}

.start span input {
    padding: 0vw 1.1vw;
    height: 100%;
    width: 27vw;
    color: black;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 0.4vw;
    font-size: 1.3vw;
}

.start span button {
    font-size: 1.5vw;
    height: 100%;
    width: calc(100% - 28vw);
    color: white;
    background-color: red;
    border: none;
    border-radius: 0.4vw;
}


.trend {
    position: relative;
    height: 80%;
    width: 100%;
    padding: 3.2vw 12vw;
    background-color: black;
}

.trend h3 {
    font-size: 2.0vw;
    color: white;
}

.trend span {
    margin-top: 1.4vw;
    width: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.trend span select {
    background-color: #0f0f0f;
    color: #fff;
    border-radius: 0.4vw;
    padding: 0.7vw 0.7vw;
}

.trend .slides {
    position: relative;
    padding: 2vw;
    height: 60vh;
}

.trend .img-section {
    height: 55vh;
}


.trend img {
    transition: transform 0.3 ease-in;
    position: relative;
    height: 50vh;
    width: 14vw;
    border-radius: 1vw;
}

.trend img:hover {
    transform: scale(1.2);
}

.trend h2 {
    font-size: 8vw;
    bottom: 0.7vw;
    -webkit-text-stroke: 1px #c0bbbb;
    position: absolute;
    color: black;
    z-index: 2;
}

.join {
    height: 80vh;
    width: 100%;
    padding: 3.2vw 12vw;
    background-color: black;
    color: white;
}

.join .reasons {
    font-size: 1.8vw;
    font-weight: 600;
}

.join .collection {
    position: relative;
    margin-top: 1vh;
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1vw 0vw;
}

.join .collection .one {
    height: 100%;
    width: 18vw;
    background-color: #1d1932;
    border-radius: 1vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 4vw 1vw;
}

.collection .one h2 {
    font-size: 1.7vw;
}

.collection .one p {
    font-size: 1.3vw;
    color: #b5b5bf;
}

.collection .one img {
    position: relative;
    bottom: 0px;
    height: 5vw;
    bottom: -1.5vw;
    right: -140px;
}

.questions {
    height: 120vh;
    width: 100%;
    padding: 3.2vw 12vw;
    background-color: black;
    color: white;
}

.questions h1 {
    font-size: 2vw;
}

.queul {
    margin-top: 2vw;
}

.queul li {
    margin-top: 1vw;
    height: 6vw;
    width: 80%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #2d2d2d;
    padding: 1vw 2vw;
}

.queul li p {
    font-size: 1.9vw;
}

.queul .icones {
    font-size: 2.5vw;
}



@media (max-width:600px) {
    nav {
        height: 15vw;
        padding: 0vw 3vw;
    }

    nav img {
        height: 11vw;
    }

    nav .signin {
        width: 32vw;
    }

    .signin button {
        width: 12vw;
        height: 5.8vw;
        font-size: 2.5vw;
        letter-spacing: 0.1vw;
    }

    .signin select {
        height: 5.8vw;
        width: 17vw;
    }

    .start {
        width: 100%;
        padding: 10vw 10vw 6vw 7vw;
    }

    .start h3 {
        width: 100%;
        font-size: 5vw;
        font-weight: 700;
    }

    .start .starts {
        font-size: 2.7vw;
        font-weight: 500;
    }

    .start .ready {
        margin-top: 4vw;
        font-size: 2.5vw;
    }

    .start span {
        margin-top: 3vh;
        height: 28vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .start span input {
        height: 11vh;
        width: 100%;
        font-size: 2.8vw;
        padding: 0vw 3vw;
        border-radius: 1.3vw;
    }

    .start span input:hover {
        border: 1px solid white;
        color: white;
    }

    .start span button {
        height: 9vh;
        width: 31%;
        font-size: 3vw;
        border-radius: 1.3vw;
    }

    .trend {
        padding: 3vw 4.2vw;
    }

    .trend h3 {
        font-size: 3vw;
    }

    .trend span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }

    .trend span select {
        font-weight: 500;
        margin-top: 1vw;
        height: 7vw;
        font-size: 2.5vw;
        width: 100%;
    }

    .trend .slides {
        margin-top: 5vh;
        height: 37vh;
    }

    .trend .img-section {
        height: 35vh;
    }

    .trend img {
        height: 30vh;
        width: 20vw;
    }

    .trend h2 {
        bottom: 2.8vw;
    }

    .join {
        min-height: 160vh;
        padding: 1vw 4.2vw;
    }

    .join .reasons {
        font-size: 4vw;
    }

    .join .collection {
        height: 100vh;
        flex-direction: column;
    }

    .join .collection .one {
        margin-top: 3vw;
        width: 100%;
        height: 90vw;
        padding: 3vw 3vw;
        border-radius: 4vw;
    }

    .collection .one h2 {
        font-size: 4vw;
    }

    .collection .one p {
        margin-top: 1vw;
        font-size: 2.7vw;
    }

    .collection .one img {
        position: relative;
        right: -77vw;
        height: 9vw;
    }

    .questions {
        padding: 1vw 4.2vw;
    }

    .questions h1 {
        font-size: 3vw;
    }

    .queul li {
        height: 12vw;
        width: 100%;
    }

    .queul li p {
        font-size: 3.2vw;
        padding: 1vw 2vw;
    }

    .queul li .icones {
        font-size: 5vw;
        font-weight: 100;
    }
}